//Grid
$active: rgb(255,83,13);
$gridBorder: 1px solid whitesmoke;
$navtabColor: rgb(214,227,234);
$navtabBg: rgb(184,207,221);
$navLinksColor: rgb(63,87,101);

//Calendar
$grey: rgb(200,201,202);
$activeCalendarCell: $navLinksColor;
$activeWeek: rgb(226,233,237);
$greyBorder: 1px solid $grey;
$activeOrange: darkorange;

//Sidebar panel
$panelBgColor: rgb(242,247,250);
$sideDetails: rgb(172,178,180);
$sideValue: rgb(82,107,120);

//
$borderColor:rgba(171,171,171,0.3);
$borderBottom: 2px solid $borderColor;
$borderTop :1px solid $borderColor;

